.buttons-containe{
    display: flex;
}
.coinChoice{
    display: flex;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(114, 58, 18);
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 40%;
    
}

.game-container {
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    margin-top: 20%;
    align-items: right;
}

.player {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(114, 58, 18);
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 40%;
}
.opponent {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(114, 58, 18);
    color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
}